[submodule "cub"]
	path = cub
	url = https://github.com/h2oai/cub
	shallow = true
[submodule "xgboost"]
	path = xgboost
	url = https://github.com/h2oai/xgboost
	shallow = true
[submodule "py3nvml"]
	path = py3nvml
	url = https://github.com/h2oai/py3nvml
	shallow = true
