[submodule "cub"]
	path = cub
	url = https://github.com/h2oai/cub
[submodule "xgboost"]
	path = xgboost
	url = https://github.com/h2oai/xgboost
[submodule "py3nvml"]
	path = py3nvml
	url = https://github.com/h2oai/py3nvml
[submodule "scikit-learn"]
	path = scikit-learn
	url = https://github.com/h2oai/scikit-learn.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "LightGBM"]
	path = LightGBM
	url = https://github.com/h2oai/H2O-LightGBM-CUDA.git
[submodule "nccl"]
	path = nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "xgboost_prev"]
	path = xgboost_prev
	url = https://github.com/h2oai/xgboost.git
