[submodule "cub"]
	path = cub
	url = https://github.com/NVlabs/cub.git
	shallow = true
    
[submodule "xgboost"]
	path = xgboost
	url = https://github.com/h2oai/xgboost
[submodule "py3nvml"]
	path = py3nvml
	url = https://github.com/fbcotter/py3nvml.git
