# OSX #
*.DS_STORE

#Some untracked files from scikit submodule
src/interface_py/h2o4gpu/base.py
src/interface_py/h2o4gpu/calibration.py
src/interface_py/h2o4gpu/cross_validation.py
src/interface_py/h2o4gpu/discriminant_analysis.py
src/interface_py/h2o4gpu/dummy.py
src/interface_py/h2o4gpu/exceptions.py
src/interface_py/h2o4gpu/grid_search.py
src/interface_py/h2o4gpu/isotonic.py
src/interface_py/h2o4gpu/kernel_approximation.py
src/interface_py/h2o4gpu/kernel_ridge.py
src/interface_py/h2o4gpu/learning_curve.py
src/interface_py/h2o4gpu/multiclass.py
src/interface_py/h2o4gpu/multioutput.py
src/interface_py/h2o4gpu/naive_bayes.py
src/interface_py/h2o4gpu/pipeline.py
src/interface_py/h2o4gpu/random_projection.py

#Sphinx docs
_build
src/interface_py/docs/source
source
src/pylint.d/*
# Ignore artifacts made from make, h2o4gpu
src/interface_py/py3nvml
src/interface_py/xgboost
deps/
./data/
./open_data/
./smalldata/
tests/smalldata
tests/data
*.idea/
*.so
*.gz
*.swp
*.csv
*.cache
*.metadata
*.cproject
*.project
tests/smalldata
src/cpulib
src/gpulib
build/
cmake-build-debug/
env/
examples/cpp/cpuall
examples/cpp/gpuall
examples/cpp/h2o4gpu-glm-cpu
examples/cpp/h2o4gpu-glm-cpu-orig
examples/cpp/h2o4gpu-glm-cpu-ptr
examples/cpp/h2o4gpu-glm-gpu
examples/cpp/h2o4gpu-glm-gpu-orig
examples/cpp/h2o4gpu-glm-gpu-ptr
examples/cpp/h2o4gpu-kmeans-cpu
examples/cpp/h2o4gpu-kmeans-gpu
examples/py/1
examples/py/@
examples/py/Untitled.ipynb
examples/py/Untitled2.ipynb
examples/py/alpha
examples/py/preds
src/interface_c/ch2o4gpu_cpu
src/interface_c/ch2o4gpu_gpu
src/py3nvml/
tmp/
tests/results
examples/py/sourced.png

# temp data generated
tests/python/xgboost/fifa_data.pk
examples/py/ipums_feather

# Visual Studio Code
*.vscode


# Idea #
*.idea/
*.idea

# Compiled Object files #
*.slo
*.lo
*.o
*.obj
*run

# Compiled Dynamic Libraries #
*.dylib
*.dll

# Compiled Static libraries #
*.lai
*.la
*.a
*.lib

# Executables #
*.exe
*.out
*.app

# CUDA #
*.ii
*.ptx
*.cubin
*.fatbin

# Compiled Python #
*.pyc

# IPything Notebook
# *ipynb*
.ipynb_checkpoints

# Entire build directory #
build
/src/build/*

# Temp space
./tmp

## sklearn stuff
sklearn/
src/interface_py/h2o4gpu/__check_build/
src/interface_py/h2o4gpu/__init__.py
src/interface_py/h2o4gpu/_build_utils/
src/interface_py/h2o4gpu/cluster/
src/interface_py/h2o4gpu/covariance/
src/interface_py/h2o4gpu/cross_decomposition/
src/interface_py/h2o4gpu/datasets/
src/interface_py/h2o4gpu/decomposition/
src/interface_py/h2o4gpu/ensemble/
src/interface_py/h2o4gpu/externals/
src/interface_py/h2o4gpu/feature_extraction/
src/interface_py/h2o4gpu/feature_selection/
src/interface_py/h2o4gpu/gaussian_process/
src/interface_py/h2o4gpu/linear_model/
src/interface_py/h2o4gpu/manifold/
src/interface_py/h2o4gpu/metrics/
src/interface_py/h2o4gpu/mixture/
src/interface_py/h2o4gpu/model_selection/
src/interface_py/h2o4gpu/neighbors/
src/interface_py/h2o4gpu/neural_network/
src/interface_py/h2o4gpu/preprocessing/
src/interface_py/h2o4gpu/semi_supervised/
src/interface_py/h2o4gpu/setup.py
src/interface_py/h2o4gpu/svm/
src/interface_py/h2o4gpu/tests/
src/interface_py/h2o4gpu/tree/
src/interface_py/h2o4gpu/utils/

## add submodules so user has to force to add/commit
cub
./xgboost
py3nvml
scikit-learn
tests/googletest

# R package
.Rproj.user
.Rhistory
.RData
.Ruserdata

# SWIG
src/interface_py/h2o4gpu/libs/ch2o4gpu_cpu.py
src/interface_py/h2o4gpu/libs/ch2o4gpu_gpu.py
src/interface_py/h2o4gpu/libs/ch2o4gpu_cpuPYTHON_wrap.cxx
src/interface_py/h2o4gpu/libs/ch2o4gpu_gpuPYTHON_wrap.cxx

src/interface_py/h2o4gpu/BUILD_INFO.txt