# OSX #
*.DS_STORE

# Idea #
*.idea/
*.idea

# Compiled Object files #
*.slo
*.lo
*.o
*.obj
*run

# Compiled Dynamic Libraries #
*.so
*.dylib
*.dll

# Compiled Static libraries #
*.lai
*.la
*.a
*.lib

# Executables #
*.exe
*.out
*.app

# CUDA #
*.i
*.ii
*.ptx
*.cubin
*.fatbin

# Compiled Python #
*.pyc

# IPything Notebook
# *ipynb*
.ipynb_checkpoints

# Entire build directory #
/src/build/*

