# below for h2o4gpu
pandas==0.24.2
numpy==1.16.4
python-dateutil==2.7.2
pytz==2018.4
scipy==1.3.1
tabulate==0.8.2
future==0.16.0
psutil==5.6.3
# the same version as scikit-learn fork
scikit-learn==0.21.2