numpydoc==1.6.0
sphinx==5.3.0
sphinx_rtd_theme==0.5.2
Jinja2<3.2
pillow==10.3.0
wheel==0.38.1
cython==3.0.8
pandas==1.5.3
numpy==1.23.5
scipy==1.10.1
numba==0.57.1
psutil==5.9.7
llvmlite==0.40.1
future==0.18.3
tabulate==0.8.10
joblib>=1.1.1
# the same version as scikit-learn fork
scikit-learn==1.5.0
dask-cuda==0.12.0
dask[dataframe]==2.11.0
distributed==2021.10.0
msgpack==0.6.2