numpydoc==0.8.0
sphinx==1.8.5
sphinx_rtd_theme==0.4.3
pillow==7.2.0
wheel==0.33.4
cython==0.29.14
pandas==0.24.2
numpy==1.18.5
scipy==1.4.1
numba==0.46.0
psutil==5.6.6
llvmlite==0.30.0
future==0.16.0
tabulate==0.8.2
joblib==0.14.0
# the same version as scikit-learn fork
scikit-learn==0.23.2
dask-cuda==0.12.0
dask[dataframe]==2.11.0
distributed==2.11.0
msgpack==0.6.2